{% form_theme form '@AropixelSyliusHighLightProductsPlugin/Admin/HighLightProduct/Form/theme.html.twig' %}

<div class="thirteen wide column">
    {% include '@SyliusAdmin/Crud/form_validation_errors_checker.html.twig' %}

    {{ form_errors(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.title) }}
    {{ form_row(form.buttonText) }}
    {{ form_row(form.buttonLink) }}

    <div class="column js-highlight-product-selector field">
        {{ form_row(form.highLightProductsSelector, {
            'remote_url': path('sylius_admin_ajax_product_by_name_phrase'),
            'load_edit_url': path('sylius_admin_ajax_product_by_code')
        }) }}
    </div>

    <button class="ui labeled icon button js-highlight-product-add field">
        <i class="plus square outline icon"></i>Ajouter les produits
    </button>

    {{ form_widget(form.highLightProducts, {'attr': {'class': 'js-highlight-product-collection highlight-product-collection'}}) }}

    <div></div>
    {{ form_row(form.enabled) }}

    {{ sylius_template_event([event_prefix ~ '.form', 'sylius.admin.update.form'], {'metadata': metadata, 'resource': resource, 'form': form}) }}
</div>
